.date-col {
    background: #fcc;
}

.value-col {
    background: #d1e7dd;
}

.delta-col {
    background: #cfe2ff;
}


.filter-dropdown-wrapper {
    padding: 8px
}

.search-button {
    width: 90px;
    margin-left: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.deformation-space-wrapper {
    flex-direction: column;
    width: 1100px;
    margin-top: 50px;
    gap: 40px;
}